/**css box model css units**/
:root {
  --p: #7c3aed;
}
body {
  font-family: "Abel", sans-serif;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.primary-link {
  color: var(--p);
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.primary-link {
  background-color: var(--p);
  border-radius: 0.5rem;
  color: white;
}

.secondary-link {
  color: var(--p);
  border-radius: 0.5rem;
  border: 1px solid var(--p);
}
